<div class="Content" align="left">

    <div class ="contenedor" align="left">
        <div class = "cuadro5">
            <div class="brotes">Modulo de Logistica y Distribucion (LDBI)<h6>distribuci&oacute;n de insumos y vacunas</h6></div>
            <div class="listados1">
                <ul>
                    <li class="{iniLdbi}"><a href="listadoexistencias.php"><span>Recepci&oacute;n Bodega Centro Nacional</span></a></li>
                    <li class="{iniLdbi}"><a href="requesiciones.php"><span>Requisiciones de vacunas e insumos</span></a></li>
                    <li class="{iniLdbi}"><a href="envios.php"><span>Notas de env&iacute;o</span></a></li>
                    <li class="{iniLdbi}"><a href="notas.php"><span>Notas de ajuste</span></a></li>
                </ul>
            </div>
            <div class="listados1">
                <ul>
                    <li class="{iniLdbiReportes}"><a href="kardex.php"><span>Kardex</span></a></li>
                    <li class="{iniLdbiReportes}"><a href="reportes.php"><span>Reportes</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/><br/>
