<div class="Content" align="left">
        <form id="" action="" method="">
            <h1> Asignaci&oacute;n de al&iacute;cuotas </h1>
                <input type="hidden" id="muestra" value="{idMuestra}"/>

                <div class="ui-state-error ui-corner-all" id="errores" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeError}; margin-top: 5px;">
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
                        <label id="agregarError"></label>
                        <p id="error" style="margin-top: 0px; margin-bottom: 0px; display: {mostrarError}">{valError}</p>
                </div>
                <div class="ui-state-highlight ui-corner-all" id="mensajes" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeExito}; margin-top: 5px;">
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
                        <p id="exitoGuardar" style="margin-top: 0px; margin-bottom: 0px; display:{mostrarExito}">{valExito}</p>
                </div>
                        <div id="filtroIndividuo">
                            <table>
                                <tr style="height: 0.95em"><td></td></tr>
                            </table>
                                <fieldset class="ui-widget ui-widget-content ui-corner-all">
                                <legend>DATOS DE LA MUESTRA</legend>
                                <table border="0" cellpadding="2" cellspacing="2" width="60%" align="center" style="">
                                                <tr>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">C&oacute;digo Global:</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">{valGlobal}</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">C&oacute;digo Correlativo:</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">{valCorrelativo}</label>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">Fecha de Toma:</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">{valFechaToma}</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">Fecha de Recepci&oacute;n:</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">{valFechaRecepcion}</label>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">&Aacute;rea de an&aacute;lisis:</label>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">{valArea}</label>
                                                            <input type="hidden" id="idArea" value="{idArea}">
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">Evento:</label>
                                                            <label style="color:#000000; font-weight:normal;">{valEvento}</label>
                                                            <input type="hidden" id="idEvento" name="idEvento" value="{valIdEvento}"/>
                                                            <input type="hidden" id="idEventoTipoMuestra" name="idEventoTipoMuestra" value="{valIdEventoTipo}"/>
                                                        </td>
                                                        <td>
                                                            <label style="color:#000000; font-weight:normal;">Tipo: </label>
                                                            <label style="color:#000000; font-weight:normal;">{valTipo}</label>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                </tr>
                                        </table>
                                <div align="center"><h3>{estadoMuestraAnalisis}</h3></div>                                
                                </fieldset><br/>
                </div>
                <br/>

                <fieldset class="ui-widget ui-widget-content ui-corner-all">
                    <legend>AL&Iacute;CUOTAS</legend>
                    <table style="margin-left: 25%">
                        <tr>
                            <td>
                                &Aacute;rea:<span class="mandatory">*</span>
                            </td>
                            <td>
                                <select style="width: 285px;" name="data[muestra][area_alicuota]" id="area_alicuota">
                                    <option value="0">N/A</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Evento:<span class="mandatory">*</span>
                            </td>
                            <td>
                                <select style="width: 285px;" name="data[muestra][evento_alicuota]" id="evento_alicuota">
                                    <option value="0">N/A</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rechazar:<span class="mandatory">*</span>
                            </td>
                            <td>
                                No<input type="radio" checked id="no" name="data[muestra][no]"/>
                                &nbsp;&nbsp;Si<input type="radio" id="si" name="data[muestra][si]"/>
                            </td>
                    </table>
                    <table style="margin-left: 25%">
                        <tr id="rechazoRow1">
                            <td colspan="2">
                                    <label style="color:#000000; font-weight:normal">Raz&oacute;n de rechazo:<span class="mandatory">*</span></label>
                            </td>
                        </tr>
                        <tr id="rechazoRow2">
                            <td colspan="2">
                                <select id="drprazonrechazo" name="drprazonrechazo" style="width:auto">
                                        <option value="0">N/A</option>
                                        <!-- BEGIN blkRazones -->
                                        <option value="{valRazon}" {selRazon}>{opcRazon}</option>
                                        <!-- END blkRazones -->
                                </select>
                            </td>
                        </tr>
                    </table>
                    <table align="center">
                        <tr>
                            <td colspan="2" align="center">
                                <div style="margin-right:15px; margin-top: 10px">
                                    <a id="" href="javascript:agregarDerivacion();" class="ui-state-default ui-corner-all ui-button" title=""
                                        onmouseover="RollOver(this)" onmouseout="RollOut(this)">
                                        <span class="ui-icon ui-icon-plusthick"></span>Agregar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table><br/><br/>
                    <div align="left" style="margin-left: 12%; margin-bottom: 5px"><h3>AL&Iacute;CUOTAS ASIGNADAS</h3></div>
                    <div align="center" id="derivaciones"></div><br/>
                </fieldset>
                <br/><br/>
        </form>
        <table align="center">
            <tr>
                <td colspan="2" align="center">
                    <div style="margin-right:15px; margin-top: 10px">
                        <a id="" href="index.php" class="ui-state-default ui-corner-all ui-button" title=""
                            onmouseover="RollOver(this)" onmouseout="RollOut(this)">
                            <span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>Regresar
                        </a>
                    </div>
                </td>
            </tr>
        </table>
</div>