<div class="Content" align="left">
    <h2> Bienvenido(a) al Sistema para  Laboratorios de Vigilancia de la Salud  VIGILAB HONDURAS</h2>

    <div class="ui-state-error ui-corner-all" id="errores" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeError}; margin-top: 5px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
            <p id="error" style="margin-top: 0px; margin-bottom: 0px; display: {mostrarError}">{valError}</p>
    </div>
    <br/>

    <div align="left">
        <fieldset class="ui-widget ui-widget-content ui-corner-all" style="width:85%; margin-left: 6%">
            <legend>DESCRIPCION DEL SISTEMA</legend>
            <p style="text-align: justify">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Sistema VIGILAB est&aacute; dirigido a la Unidad Central para la Vigilancia Epidemiol&oacute;gica del Laboratorio Nacional de Salud.
                Esta unidad tiene la responsabilidad de confirmar brotes y epidemias de enfermedades emergentes y reemergentes controlados por el Ministerio de Salud P&uacute;blica.

                <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El Sistema VIGILAB consta de tres componentes: Recepci&oacute;n de muestras, Análisis y Procesamiento de muestras y Reporte de resultados.  El componente de recepci&oacute;n de muestras permite registrar cada muestra cl&iacute;nica junto con sus datos  de procedencia  y los datos  personales del paciente.  El componente de procesamiento de muestras permite definir los eventos, las pruebas de diagn&oacute;stico necesarias y los correspondientes resultados para cada muestra cl&iacute;nica.  El &uacute;ltimo componente permite elaborar los reportes de resultados necesarios para tanto las Unidades locales como para Centro Nacional de Epidemiolog&iacute;a, programas y autoridades correspondientes del Ministerio de Salud.
                <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;El prop&oacute;sito de esta herramienta es simplificar y automatizar el proceso de registro, manejo, procesamiento y reporte de resultados de muestras cl&iacute;nicas en el LNS.  Lo anterior  facilitar&aacute; la funci&oacute;n de vigilancia epidemiol&oacute;gica que cumple el LNS, permiti&eacute;ndole detectar e identificar brotes  y epidemias de forma temprana. Adem&aacute;s, debido a la naturaleza del sistema, se fomentar&aacute; un mejor flujo de informaci&oacute;n entre el LNS y los diferentes usuarios del Ministerio de Salud P&uacute;blica de Honduras.
            </p>
        </fieldset>
    </div>
</div>
<br/><br/>
