<div class="Content" align="left">
    <form id="formBuscar" action="{urlprefix}reportes/vih/exportableExvelVih.php" method="POST">
        <h1> Exportaci&oacute;n  de variables de los casos acumulados de Influenza a Excel </h1>

        <div class="ui-state-error ui-corner-all" id="errores" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeError}; margin-top: 5px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
            <p id="error" style="margin-top: 0px; margin-bottom: 0px; display: {mostrarError}">{valError}</p>
        </div>
        <div class="ui-state-highlight ui-corner-all" id="mensajes" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeExito}; margin-top: 5px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
            <p id="exitoGuardar" style="margin-top: 0px; margin-bottom: 0px; display:{mostrarExito}">{valExito}</p>
        </div>
        <div id="filtro" >
            <table><tr style="height: 0.95em"><td></td></tr></table>
            <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend>FILTROS</legend>
                <table width="90%" border="0" cellpadding="2" cellspacing="2" align="center">
                    <tr>
                        <td>
                            <label style="color:#000000; font-weight:normal;">Sistema: <span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select id="drpSistema" name="search[sistema]" style="width:250px" onchange="setSistema()">
                                <option value="1">SISVIG</option>
                                <option value="2" selected="selected">Revelac-i</option>
                                <option value="3">FluID</option>
                            </select>
                        </td>
                        <td colspan="2" align="right">
                            <a onmouseout="RollOut(this)" title="Borrar filtro" onmouseover="RollOver(this)" style="text-decoration: none; font-weight: bold;" class="ui-state-default ui-corner-all ui-button" href="javascript:borrarFiltro();">Borrar Filtro</a>
                        </td>
                    </tr>
                </table>
                <div id="divSisvig">
                    <table width="90%" border="0 cellpadding="2" cellspacing="2" align="center">                    
                        <tr>
                            <td colspan="4">
                                <label style="color:#000000; font-weight:normal;">Nivel geogr&aacute;fico del paciente: <span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <select id="drpNivelUn" name="search[nivel]" style="width:250px" onchange="setNivelUn()">
                                    <option value="0" {selNivel0}>Seleccione...</option>
                                    <option value="1" {selNivel1}>Nacional</option>
                                    <option value="2" {selNivel2}>Provincia</option>
                                    <option value="3" {selNivel3}>Region</option>
                                    <option value="4" {selNivel4}>Distrito</option>
                                    <option value="5" {selNivel5}>Corregimiento</option>
                                    <!-- option value="6" {selNivel6}>Unidad notificadora</option -->
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div id="divProvincia">
                                    <label >Provincia:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpPro" name="search[provincia]" style="width:250px" onchange="setRegionCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkPro -->
                                        <option value="{valPro}" {selPro}>{opcPro}</option>
                                        <!-- END blkPro -->
                                    </select>
                                </div>
                            </td>
                            <td colspan="2">
                                <div id="divRegion">
                                    <label >Regi&oacute;n:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpReg" name="search[region]" style="width:250px" onchange="setDistritoCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkReg -->
                                        <option value="{valReg}" {selReg}>{opcReg}</option>
                                        <!-- END blkReg -->
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="divDistrito">
                                    <label >Distrito:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpDis" name="search[distrito]" style="width:250px" onchange="setCorregimientoCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkDis -->
                                        <option value="{valDis}" {selDis}>{opcDis}</option>
                                        <!-- END blkDis -->
                                    </select>
                                </div>
                            </td>
                            <td colspan="2">
                                <div id="divCorregimiento">
                                    <label >Corregimiento:<span class="mandatory">*</span></label>&nbsp;&nbsp;
                                    <select id="drpCor" name="search[corregimiento]" style="width:250px">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkCor -->
                                        <option value="{valCor}" {selCor}>{opcCor}</option>
                                        <!-- END blkCor -->
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div did="divInstalacion">
                                    <label >Unidad notificadora:<!-- span class="mandatory">*</span --></label>
                                    <input type="text" id="nombre_un" style="width: 500px;" value="{valUnidad}"/>
                                    <input type="hidden" name="search[id_un]" id="id_un" value="{valIdUn}" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label >A&ntilde;o inicial: </label>
                                <input type="text" id="anio_ini" style="width: 80px;" maxlength="4" onKeyPress="return numbersonly(event, false);" value="{valAnioIni}"/>
                                <label > al A&ntilde;o final: </label>
                                <input type="text" id="anio_fin" style="width: 80px;" maxlength="4" onKeyPress="return numbersonly(event, false);" value="{valAnioFin}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label >De la semana Epi inicial: </label>
                                <input type="text" id="semana_ini" style="width: 40px;" maxlength="2" onKeyPress="return numbersonly(event, false);" value="{valSemanaIni}"/>
                                <label > a la semana Epi final: </label>
                                <input type="text" id="semana_fin" style="width: 40px;" maxlength="2" onKeyPress="return numbersonly(event, false);" value="{valSemanaFin}"/>
                            </td>
                        </tr>
                        <tr><td colspan="4" style="text-align:right;"><label>** Si se quiere traer todos los a&ntilde;os se deja en blanco lo campos de a&ntildeo - lo mismo aplica para la semana Epi</label></td></tr>
                    </table>
                </div>
                <div id="divRevelac">
                    <table width="90%" border="0" cellpadding="2" cellspacing="2" align="center">                    
                        <tr>
                            <td>
                                <label >Unidad notificadora:<!-- span class="mandatory">*</span --></label>
                                <input type="text" id="nombre_un2" style="width: 500px;"/>
                                <input type="hidden" name="search[id_un]" id="id_un2"/>
                            </td>
                            <td  align="right">
                                <a id='anadirSintoma' href='javascript:relacionarTabla("tablaUN");' class='ui-state-default ui-corner-all ui-button' title='A&ntilde;adir'
                                   onmouseover='RollOver(this)' onmouseout='RollOut(this)'>Agregar Filtro
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="tablaUN"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label >A&ntilde;o inicial: </label>
                                <input type="text" id="anio_ini2" style="width: 80px;" maxlength="4" onKeyPress="return numbersonly(event, false);"/>
                                <label > al A&ntilde;o final: </label>
                                <input type="text" id="anio_fin2" style="width: 80px;" maxlength="4" onKeyPress="return numbersonly(event, false);"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label >De la semana Epi inicial: </label>
                                <input type="text" id="semana_ini2" style="width: 40px;" maxlength="2" onKeyPress="return numbersonly(event, false);"/>
                                <label > a la semana Epi final: </label>
                                <input type="text" id="semana_fin2" style="width: 40px;" maxlength="2" onKeyPress="return numbersonly(event, false);"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;">
                                <label>** Si se quiere traer todos los registros deje el filtro de la unidad notificadora en blanco y igualmente los a&ntilde;os y la semana Epi</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
        <table align="center">
            <tr>
                <td>
                    {botonGenerar} &nbsp;
                </td>
            </tr>
        </table>
        <br/>
    </form>
</div>