<div class="Content" align="left">
    <div class="ui-state-error ui-corner-all" id="dSummaryErrors"
    	style="padding-bottom:5px; margin-bottom:6px;display:{disError}; margin-top:5px;" align="left">
    	<span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
        <label id="error"></label>
    </div>

    <div class="ui-state-highlight ui-corner-all"
    	style="padding-bottom:5px; margin-bottom:6px;display:{disInfo}; margin-top:5px;" align="left">
    	<span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
        <label>{resUsuBien}&nbsp;{desInfo}</label>
    </div>
    
    <div style="padding-top: 6px; width: 90%; margin-left: 5%; display: {disCrear}" id="divCrearSeccion">
        <form id="frmCrearSeccion" method="post" action="">
            <fieldset class="ui-widget ui-widget-content ui-corner-all" style="">
            <legend>{legTipoMuestras}</legend>
            <div id ="showTable"></div>
          </fieldset>
        </form>
    </div>
</div>