                <fieldset  class="ui-widget ui-widget-content ui-corner-all">
                    <legend>Contactos</legend>
                    <table id="table_5minus" dalign="center" border="0" cellpadding="2" cellspacing="2">
                        <tbody>

                            <tr>
                                <td colspan="6"><b>Menores de 5 a&ntilde;os</b>
                                    <br />
                                    <hr /></td>
                            </tr>
                            <tr>
                                
                                <td>Total de contactos identificados: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="identificados5min" name="data[contactos][identificados5min]" value="{valIdent5min}" style="width:25px;" value="{valContactIdentificados}" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>Total de contactos sintom&aacute;ticos respiratorios : <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="sinto_resp5min" name="data[contactos][sinto_resp5min]" value="{valSintoResp5min}" style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>Total de contactos evaluados: <span class="mandatory">*</span></td>
                                <td valign="bottom"><input id="evaluados5min" name="data[contactos][evaluados5min]" value="{valEval5min}" style="width:25px;" type="text"></td>
                                    
                            </tr>
                            <tr>
                                
                                <td>Total de contactos con Quimioprofilaxis: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="quimioprofilaxis5min" name="data[contactos][quimioprofilaxis5min]" value="{valQuimio5min}"  style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>								
                                <td>Total de contactos con TB: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="TB5min" name="data[contactos][TB5min]" value="{valTB5min}"  style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td></td>
                                <td valign="bottom"></td>
                                    
                            </tr>
                        </tbody>
                    </table>
                    <table id="table_5plus" dalign="center" border="0" cellpadding="2" cellspacing="2">
                        <tbody>
                            <tr>
                                <td colspan="6"><b>5 y m&aacute;s a&ntilde;os</b>
                                    <br />
                                    <hr /></td>
                            </tr>
                            <tr>
                                
                                <td>Total de contactos identificados: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="identificados5pl" name="data[contactos][identificados5pl]" value="{valIdent5pl}" style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>								
                                <td>Total de contactos sintom&aacute;ticos respiratorios: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="sinto_resp5pl" name="data[contactos][sinto_resp5pl]" value="{valSintoResp5pl}" style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>Total de contactos evaluados: <span class="mandatory">*</span></td>
                                <td valign="bottom"><input id="evaluados5pl" name="data[contactos][evaluados5pl]" value="{valEval5pl}" style="width:25px;" type="text"></td>
                                    
                            </tr>
                            <tr>
                                
                                <td>Total de contactos con Quimioprofilaxis: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="quimioprofilaxis5pl" name="data[contactos][quimioprofilaxis5pl]" value="{valQuimio5pl}" style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>								
                                <td>Total de contactos con TB: <span class="mandatory">*</span></td>
                                <td  valign="bottom"><input id="TB5pl" name="data[contactos][TB5pl]" value="{valTB5pl}" style="width:25px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td></td>
                                <td valign="bottom"></td>
                                    
                            </tr>
                            
                        </tbody>
                    </table>
                    
                    <!-- div id="edad_no_contactos">
                        Para habilitar esta pesta&ntilde;a necesita ingresar la edad del paciente en la pesta&ntilde;a de "Datos de ident." secci&oacute;n "Datos del paciente" 
                    </div -->
                </fieldset>


