<div class="Content" align="left">
    <form id="formBuscar" action="{urlprefix}reportes/vih/exportableExvelVih.php" method="POST">
        <h1> M&oacute;dulo de reportes de Tuberculosis en formato Excel </h1>

        <div class="ui-state-error ui-corner-all" id="errores" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeError}; margin-top: 5px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
            <p id="error" style="margin-top: 0px; margin-bottom: 0px; display: {mostrarError}">{valError}</p>
        </div>
        <div class="ui-state-highlight ui-corner-all" id="mensajes" style="padding-bottom: 5px; margin-bottom: 6px; display: {mensajeExito}; margin-top: 5px;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 0.3em;"></span>
            <p id="exitoGuardar" style="margin-top: 0px; margin-bottom: 0px; display:{mostrarExito}">{valExito}</p>
        </div>
        <div id="filtro" >
            <table><tr style="height: 0.95em"><td></td></tr></table>
            <fieldset class="ui-widget ui-widget-content ui-corner-all">
                <legend>FILTROS</legend>
                <table width="90%" border="0" cellpadding="2" cellspacing="2" align="center">
                    <tr>
                        <td>
                            <label style="color:#000000; font-weight:normal;">Reporte: <span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <select id="drpReporte" name="search[sistema]" style="width:250px" ">
                                    <option value="">Seleccione...</option>
                                    <option value="5">Exportaci&oacute;n de variables - encabezados </option>  
                                    <option value="2">Consolidado por sexo y edad de los casos de TB</option>
                                    <option value="3">Listado TB otros modulos SISVIG</option>
                                    <option value="4">Indicadores TB - SISVIG</option>
                                    <option value="6">Consolidado por tipo y región de los casos de TB</option>
                                    <option value="7">Anual OMS</option>
                                    <option value="8">Cohortes</option>
                            </select>
                        </td>
                        <td colspan="2" align="right">
                           <a onmouseout="RollOut(this)" title="Borrar filtro" onmouseover="RollOver(this)" style="text-decoration: none; font-weight: bold;" class="ui-state-default ui-corner-all ui-button" href="javascript:borrarFiltro();">Borrar Filtro</a>
                        </td>
                    </tr>
                </table>
                <div id="divSisvig">
                    <table width="90%" border="0 cellpadding="2" cellspacing="2" align="center">                    
                        <tr>
                            <td colspan="4">
                                <label style="color:#000000; font-weight:normal;">Nivel geogr&aacute;fico del paciente: <span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <select id="drpNivelUn" name="search[nivel]" style="width:250px" onchange="setNivelUn()">
                                    <option value="0" {selNivel0}>Seleccione...</option>
                                    <option value="1" {selNivel1}>Nacional</option>
                                    <!-- option value="2" {selNivel2}>Provincia</option -->
                                    <option value="3" {selNivel3}>Region</option>
                                    <!-- option value="4" {selNivel4}>Distrito</option>
                                    <option value="5" {selNivel5}>Corregimiento</option -->
                                    <option value="6" {selNivel6}>Unidad notificadora</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div id="divProvincia">
                                    <label >Provincia:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpPro" name="search[provincia]" style="width:250px" onchange="setRegionCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkPro -->
                                        <option value="{valPro}" {selPro}>{opcPro}</option>
                                        <!-- END blkPro -->
                                    </select>
                                </div>
                            </td>
                            <td colspan="2">
                                <div id="divRegion">
                                    <label >Regi&oacute;n:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpReg" name="search[region]" style="width:250px" onchange="setDistritoCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkReg -->
                                        <option value="{valReg}" {selReg}>{opcReg}</option>
                                        <!-- END blkReg -->
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="divDistrito">
                                    <label >Distrito:<span class="mandatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <select id="drpDis" name="search[distrito]" style="width:250px" onchange="setCorregimientoCascada()">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkDis -->
                                        <option value="{valDis}" {selDis}>{opcDis}</option>
                                        <!-- END blkDis -->
                                    </select>
                                </div>
                            </td>
                            <td colspan="2">
                                <div id="divCorregimiento">
                                    <label >Corregimiento:<span class="mandatory">*</span></label>&nbsp;&nbsp;
                                    <select id="drpCor" name="search[corregimiento]" style="width:250px">
                                        <option value="0">Seleccione...</option>
                                        <!-- BEGIN blkCor -->
                                        <option value="{valCor}" {selCor}>{opcCor}</option>
                                        <!-- END blkCor -->
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div id="divInstalacion">
                                    <label >Unidad notificadora:<!-- span class="mandatory">*</span --></label>
                                    <input type="text" id="nombre_un" style="width: 500px;" value="{valUnidad}"/>
                                    <input type="hidden" name="search[id_un]" id="id_un" value="{valIdUn}" />
                                </div>
                            </td>
                        </tr>
                        <!-- tr>
                            <td colspan="4">
                                <label >Fecha notificaci&oacute;n: </label>
                                <input type="text" id="anio_ini" style="width: 80px;" maxlength="8"  value="{valAnioIni}"/>
                                <label > Fecha fin notificaci&oacute;n: </label>
                                <input type="text" id="anio_fin" style="width: 80px;" maxlength="8"  value="{valAnioFin}"/>
                            </td>
                        </tr -->
                        <tr id="fh_fase1">
                            <td colspan="4">
                                <label >Fecha inicio: </label>
                                <input type="text" id="anio_ini_f1" style="width: 80px;" maxlength="8"  />
                                <label > Fecha fin: </label>
                                <input type="text" id="anio_fin_f1" style="width: 80px;" maxlength="8"  />
                            </td>
                        </tr>
                        <tr><td colspan="4" style="text-align:right;"><label>** Si se quiere traer todos los a&ntilde;os se deja en blanco lo campos de a&ntildeo</label></td></tr>
                    </table>
                </div>
            </fieldset>
        </div>
        <table align="center">
            <tr>
                <td>
                    {botonGenerar} &nbsp;
                </td>
            </tr>
        </table>
        <br/>
    </form>
</div>