<div class="Content" align="left">
    <h2> Bienvenido(a) a la plataforma de Vigilancia en salud p&uacute;blica de Panam&aacute; - SISVIG</h2>

    <div class ="contenedor" align="left">
        <div class = "cuadro11">
            <div class="notificacion">Vigilancia Rutinaria<h6>formularios que se deben llenar de manera rutinaria.</h6></div>
            <div class="listados">
                <ul>
                    <li class="{iniMenuEno}"><a id="eno"><span>Notificaci&oacute;n obligatoria - ENO</span></a></li>
                    <li class="autocomplete" id="divEno">
                        <ul>
                            <li style="display: {iniMenuEnoFormulario}"><a href='{urlprefix}eno/index.php' >Formulario</a></li>
                            <li style="display: {iniMenuEnoCargar}"><a href='{urlprefixViejo}ENO/cargar.html' >Cargar</a></li>
                            <li style="display: {iniMenuEnoReportes}"><a href='{urlprefixViejo}ENO/reporte.html' >Reportes</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuNotic}"><a id="notic"><span>Notificaci&oacute;n individual</span></a></li>
                    <li class="autocomplete" id="divNotic">
                        <ul>
                            <li style="display: {iniMenuNoticFormulario}"><a href='{urlprefix}notic/index.php' >Formulario</a></li>
                            <li style="display: {iniMenuNoticRepConsolidado}"><a href='{urlprefixViejo}NOTIC/reporte_consolidado.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuInvCaso}"><a id="invCaso"><span>Investigaci&oacute;n individual</span></a></li>
                    <li class="autocomplete" id="divInvCaso">
                        <ul>
                            <li style="display: {iniMenuInvCasoFormulario}"><a href='{urlprefix}investigacion_caso/formulario.php' >Formulario</a></li>
                            <li style="display: {iniMenuInvCasoRepIndividual}"><a href='{urlprefix}investigacion_caso/reporte_individual.html' >Reporte individual</a></li>
                            <li style="display: {iniMenuInvCasoRepConsolidado}"><a href='{urlprefix}investigacion_caso/reporte.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuRae}"><a id="rae"><span>Registro de admisi&oacute;n y egreso</span></a></li>
                    <li class="autocomplete" id="divRae">
                        <ul>
                            <li style="display: {iniMenuRaeFormulario}"><a href='{urlprefixViejo}RAE/formulario.html' >Formulario</a></li>
                            <li style="display: {iniMenuRaeRepIndividual}"><a href='{urlprefixViejo}RAE/reporte_individual.html' >Reporte individual</a></li>
                            <li style="display: {iniMenuRaeRepServicio}"><a href='{urlprefixViejo}RAE/reporte_tipo_paciente.html' >Reporte seg&uacute;n servicio de hospitalizaci&oacute;n</a></li>
                            <li style="display: {iniMenuRaeRepMorbilidad}"><a href='{urlprefixViejo}RAE/reporte_morbilidad.html' >Reporte morbolidad por grupo de edad</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "cuadro2">
            <div class="brotes">Vigilancia en Brotes<h6>descripci&oacute;n del cuadro.</h6></div>
            <div class="listados">
                <ul>
                    <li class="{iniMenuBrotes}"><a href='#' >Notificaci&oacute;n de Brotes</a></li>
                    <li class="{iniMenuBrotes}"><a href='#' >Investigaci&oacute;n de Brotes</a></li>
                </ul>
            </div>
        </div>
        <div class = "cuadro3">
            <div class="mortalidad">Vigilancia Mortalidad<h6>descripci&oacute;n del cuadro de Vigilancia Mortalidad </h6></div>
            <div class="listados">
                <ul>
                    <li class="{iniMenuVigmor}"><a id="vigmor"><span>VIGMOR</span></a></li>
                    <li class="autocomplete" id="divVigmor">
                        <ul>
                            <li style="display: {iniMenuVigmorFormulario}"><a href='{urlprefix}vigmor/index.php' >Formulario</a></li>
                            <li style="display: {iniMenuVigmorRepConsolidado}"><a href='{urlprefixViejo}VIGMOR/reporte.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuMaterna}"><a href='#' >Mortalidad materna</a></li>
                    <li class="{iniMenuPerinatal}"><a href='#' >Mortalidad perinatal</a></li>
                    <li class="{iniMenuNinos}"><a href='#' >M. en ni&ntilde;os menores de 5 a&ntilde;os</a></li>
                </ul>
            </div>
        </div>
        <div class = "cuadro4">
            <div class="centinela">Vigilancia centinela<h6>descripci&oacute;n del cuadro de Vigilancia Centinela</h6></div>
            <div class="listados">
                <ul>
                    <li class="{iniMenuFluReg}"><a id="fluReg"><span>Influenza</span></a></li>
                    <li class="autocomplete" id="divFluReg">
                        <ul>
                            <li style="display: {iniMenuFluRegFormulario}"><a href='{urlprefix}uceti/index.php' >Formulario</a></li>
                            <li style="display: {iniMenuFluRegFormulario}"><a href='{urlprefix}denominadores/index.php' >Denominadores</a></li>
                            <li style="display: {iniMenuFluExportacionVariables}"><a href='{urlprefix}reportes/uceti/exportableUceti.php' >Exportaci&oacute;n de variables</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuVicIts}"><a id="vicIts"><span>VICITS</span></a></li>
                    <li class="autocomplete" id="divVicIts">
                        <ul>
                            <li style="display: {iniVicItsFormulario}"><a href='{urlprefix}vicits/index.php'>Formulario</a></li>
                            <li style="display: {iniVicItsFormLaboratorio}"><a href='{urlprefix}vicits/indexFormLaboratorio.php' >Formulario Laboratorio</a></li>
                            <li style="display: {iniVicItsRepExcel}"><a href='{urlprefix}reportes/vicits/ReportesConsolidadosVicits.php' >Reportes consolidados</a></li>
                            <li style="display: {iniVicItsRepExcel}"><a href='{urlprefix}vicits/exportableExcel.php' >Exportar variables a Excel</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "cuadro5">
            <div class="especiales">Investigaci&oacute;n de casos especiales<h6>descripci&oacute;n del cuadro de Vigilancias Especiales</h6></div>
            <div class="listados1">
                <ul>
                    <li class="{iniMenuVIH}"><a id="vih"><span>VIH / SIDA</span></a></li>
                    <li class="autocomplete" id="divVih">
                        <ul>
                            <li style="display: {iniVihFormulario}"><a href='{urlprefix}vih/index.php' >Formulario</a></li>
                            <li style="display: {iniVihRepExcel}"><a href='{urlprefix}reportes/vih/exportableExcelVih.php' >Exportar Excel</a></li>
                            <li style="display: {iniVihRepConsolidado}"><a href='{urlprefix}reportes/vih/consolidadoVih.php' >Rep. consolidado</a></li>
                            <li style="display: {iniVihRepRegiones}"><a href='{urlprefix}reportes/vih/regionesVih.php' >Rep. por regiones</a></li>
                            <li style="display: {iniVihRepFactorRiesgo}"><a href='{urlprefix}reportes/vih/factorRiesgoVih.php' >Rep. factor riesgo</a></li>
                            <li style="display: {iniVihRepEnfermedad}"><a href='{urlprefix}reportes/vih/enfermedadVih.php' >Rep. Enf. Oportunista</a></li>
                            <li style="display: {iniVihSincronizarSilab}"><a href='{urlprefix}vih/sincronizarSilab.php' >Sincronizar SILAB</a></li>
                            <li style="display: {iniVihSincronizarEpiInfo}"><a href='{urlprefix}vih/sincronizarEpiInfo.php' >Sincronizar EpiInfo</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuMat}"><a id="mat" ><span>Alerta temprana - MAT</span></a></li>
                    <li class="autocomplete" id="divMat">
                        <ul>
                            <li style="display: {iniMatFormulario}"><a href='{urlprefix}mat/formulario.php' >Formulario</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuSarampion}"><a href='#' >Sarampi&oacute;n y rub&eacute;ola</a></li>
                    <li class="{iniMenuSinRubeola}"><a href='#' >S&iacute;ndrome de rub&eacute;ola cong&eacute;nita</a></li>
                    <li class="{iniMenuParalisis}"><a href='#' >Par&aacute;lisis fl&aacute;cida aguada en menores de 15</a></li>
                    <li class="{iniMenuTosferina}"><a href='#' >Tosferina / S&iacute;ndrome coqueluchoide</a></li>
                </ul>
            </div>
            <div class="listados1">
                <ul>
                    <li class="{iniMenuTB}"><a href='#' id="tb"><span >Tuberculosis</span></a></li>
                    <li class="autocomplete" id="divtb">
                        <ul>
                            <li style="display: {iniMenuTBPagInicio}"><a href='{urlprefix}tb/principal.php' >P&aacute;gina inicio</a></li>
                            <li style="display: {iniMenuTBRegFormulario}"><a href='{urlprefix}tb/index.php' >Formulario</a></li>
                            <li style="display: {iniMenuTBReportes}"><a href='{urlprefix}reportes/tb/exportabletb.php' >Reportes</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuPrimates}"><a href='#' >Vigilancia en primates no humanos</a></li>
                    <li class="{iniMenuEVASIS}"><a href='#' >EVASIS</a></li>
                    <li class="{iniMenuSifilis}"><a href='#' >S&iacute;filis cong&eacute;nita</a></li>
                    <li class="{iniMenuMalformacion}"><a id="mal"><span>Malformacion</span></a></li>
                    <li class="autocomplete" id="divMal">
                        <ul>
                            <li style="display: {iniMenuMalFormulario}"><a href='{urlprefixViejo}Malformacion/formulario.html' >Formulario</a></li>
                            <li style="display: {iniMenuMalNacFormulario}"><a href='{urlprefixViejo}Malformacion/formulario_nacidos.html' >Formulario Nacidos</a></li>
                            <li style="display: {iniMenuMalReportes}"><a href='{urlprefixViejo}Malformacion/reportes.html' >Reportes</a></li>
                        </ul>
                    </li>
                    <li class="{iniMenuNoTrasmisibles}"><a href='#' >Enfermedades no trasmisibles</a></li>
                    <li class="{iniMenuIntoxiaciones}"><a href='#' >Intoxicaciones agudas por plaguicidas</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/><br/>
