<title>{viewpagetitle}</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="{viewmetadescription}" />
<meta name="keywords" content="{viewmetakeywords}" />
<meta name="robots" content="none" />
<link href="{urlprefix}css/default.css" rel="stylesheet" type="text/css" />
<link href="{urlprefix}css/redmond/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
<link href="{urlprefix}css/menu.css" rel="stylesheet" type="text/css" />
<link href="{urlprefix}css/Plastic%20Blue/GridView/styles.css" rel="stylesheet" type="text/css" />
<link href="{urlprefix}css/style_new.css" rel="stylesheet" type="text/css" />
<link href="{urlprefix}home_files/css3menu1/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="{urlprefix}js/jquery-1.3.2.min.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/jquery-ui-1.7.2.custom.min.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/ui.datepicker-es.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/jquery.blockUI.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/jquery.templating.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/jquery.cascade.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/jquery.cascade.ext.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/menu.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{urlprefix}js/Utils.js" type="text/JavaScript"></script>
<!-- BEGIN cssHead -->
<link href="{urlprefix}css/{cssfile}.css" rel="stylesheet" type="text/css" />
<!-- END cssHead -->
<!-- BEGIN jsHead -->
<script language="JavaScript" src="{urlprefix}js/{jsfile}" type="text/JavaScript"></script>
<!-- END jsHead -->