<div id="container.24">
<div id="logo"><img src="{urlprefix}img/vigilab.png" width="200" height="90" alt="s" /></div>

<!-- Start css3menu.com BODY section id=1 -->
        <ul id="css3menu1" class="topmenu">
            <li class="topfirst" ><a href="{urlprefix}" title="Inicio" style="width:70px;height:16px;line-height:16px;">Inicio</a></li>
            <li style="display: {menuRutinaria}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>V. Rutinaria</span></a>
                <ul>
                    <li style="display: {menuEno}"><a ><span>Notificaci&oacute;n obligatoria - ENO</span></a>
                        <ul>
                            <li style="display: {menuEnoFormulario}"><a href='{urlprefix}eno/index.php' >Formulario</a></li>
                            <li style="display: {menuEnoCargar}"><a href='{urlprefixViejo}ENO/cargar.html' >Cargar</a></li>
                            <li style="display: {menuEnoReportes}"><a href='{urlprefixViejo}ENO/reporte.html' >Reportes</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuNotic}"><a ><span>Notificaci&oacute;n individual</span></a>
                        <ul>
                            <li style="display: {menuNoticFormulario}"><a href='{urlprefix}notic/index.php' >Formulario</a></li>
                            <li style="display: {menuNoticRepConsolidado}"><a href='{urlprefixViejo}NOTIC/reporte_consolidado.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuInvCaso}"><a href='#'><span>Investigaci&oacute;n individual</span></a>
                        <ul>
                            <li style="display: {menuInvCasoFormulario}"><a href='{urlprefix}investigacion_caso/formulario.php' >Formulario</a></li>
                            <li style="display: {menuInvCasoRepIndividual}"><a href='{urlprefix}investigacion_caso/reporte_individual.html' >Reporte individual</a></li>
                            <li style="display: {menuInvCasoRepConsolidado}"><a href='{urlprefix}investigacion_caso/reporte.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuRae}"><a ><span>Registro de admisi&oacute;n y egreso</span></a>
                        <ul>
                            <li style="display: {menuRaeFormulario}"><a href='{urlprefixViejo}RAE/formulario.html' >Formulario</a></li>
                            <li style="display: {menuRaeRepIndividual}"><a href='{urlprefixViejo}RAE/reporte_individual.html' >Reporte individual</a></li>
                            <li style="display: {menuRaeRepServicio}"><a href='{urlprefixViejo}RAE/reporte_tipo_paciente.html' >Reporte seg&uacute;n servicio de hospitalizaci&oacute;n</a></li>
                            <li style="display: {menuRaeRepMorbilidad}"><a href='{urlprefixViejo}RAE/reporte_morbilidad.html' >Reporte morbolidad por grupo de edad</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuMonitoreo}"><a href='#'>Monitoreo</a></li>
                </ul>
            </li>
            <li style="display: {menuMortalidad}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>V. Mortalidad</span></a>
                <ul>
                    <li style="display: {menuVigmor}"><a href='#'><span>VIGMOR</span></a>
                        <ul>
                            <li style="display: {menuVigmorFormulario}"><a href='{urlprefix}vigmor/index.php' >Formulario</a></li>
                            <li style="display: {menuVigmorRepConsolidado}"><a href='{urlprefixViejo}VIGMOR/reporte.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuMaterna}"><a href='#' >Mortalidad materna</a></li>
                    <li style="display: {menuPerinatal}"><a href='#' >Mortalidad perinatal</a></li>
                    <li style="display: {menuNinos}"><a href='#' >M. en ni&ntilde;os menores de 5 a&ntilde;os</a></li>
                </ul>
            </li>
            <li style="display: {menuVigBrotes}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>V. Brotes</span></a>
                <ul style="display: none">
                    <li style="display: {menuBrotes}"><a href='#' >Brotes</a></li>
                </ul>
            </li>
            <li style="display: {menuCentinela}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>V. Centinela</span></a>
                <ul >
                    <li style="display: {menuFlu}"><a href='#'><span>Influenza</span></a>
                        <ul>
                            <li style="display: {menuFluRegFormulario}"><a href='{urlprefix}uceti/index.php' >Formulario</a></li>
                            <li style="display: {menuFluRegFormulario}"><a href='{urlprefix}denominadores/index.php' >Denominadores</a></li>
                            <li style="display: {menuFluExportacionVariables}"><a href='{urlprefix}reportes/uceti/exportableUceti.php' >Exportaci&oacute;n de variables</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuFluLab}"><a href='#'><span>Flu Laboratorio</span></a>
                        <ul>
                            <li style="display: {menuFluLabFormulario}"><a href='{urlprefix}influenza/laboratorio/formulario.html' >Formulario</a></li>
                            <li style="display: {menuFluLabRepIndividual}"><a href='{urlprefix}influenza/laboratorio/reporte_individual.html' >Reporte individual</a></li>
                            <li style="display: {menuFluLabRepConsolidado}"><a href='{urlprefix}influenza/laboratorio/reporte.html' >Reporte consolidado</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuVicIts}"><a href='#' ><span>VICITS.....</span></a>
                        <ul>
                            <li style="display: {menuVicItsFormulario}"><a href='{urlprefix}vicits/index.php' >Formulario</a></li>
                            <li style="display: {menuVicItsFormLaboratorio}"><a href='{urlprefix}vicits/indexFormLaboratorio.php' >Formulario Laboratorio</a></li>
                            <li style="display: {menuVicItsRepExcel}"><a href='{urlprefix}reportes/vicits/ReportesConsolidadosVicits.php' >Reportes consolidados</a></li>
                            <li style="display: {menuVicItsRepExcel}"><a href='{urlprefix}vicits/exportableExcel.php' >Exportar variables a Excel</a></li>
                        </ul>
                    </li>
                    <li><a href='#'><span>Tuberculosis</span></a>
                        <ul>
                            <li><a href='{urlprefix}tb/principal.php' >P&aacute;gina inicio</a></li>
                            <li><a href='{urlprefix}tb/index.php' >Formulario</a></li>
                            <li><a href='{urlprefix}reportes/tb/exportabletb.php' >Exportaci&oacute;n de variables</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li style="display: {menuProgramas}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>Programas</span></a>
                <ul>
                    <li style="display: {menuVih}"><a href='#' ><span>VIH / SIDA</span></a>
                        <ul>
                            <li style="display: {menuVihFormulario}"><a href='{urlprefix}vih/index.php' >Formulario</a></li>
                            <li style="display: {menuVihRepExcel}"><a href='{urlprefix}reportes/vih/exportableExcelVih.php' >Exportar Excel</a></li>
                            <li style="display: {menuVihRepConsolidado}"><a href='{urlprefix}reportes/vih/consolidadoVih.php' >Rep. consolidado</a></li>
                            <li style="display: {menuVihRepRegiones}"><a href='{urlprefix}reportes/vih/regionesVih.php' >Rep. por regiones</a></li>
                            <li style="display: {menuVihRepFactorRiesgo}"><a href='{urlprefix}reportes/vih/factorRiesgoVih.php' >Rep. factor riesgo</a></li>
                            <li style="display: {menuVihRepEnfermedad}"><a href='{urlprefix}reportes/vih/enfermedadVih.php' >Rep. Enf. Oportunista</a></li>
                            <li style="display: {menuVihSincronizarSilab}"><a href='{urlprefix}vih/sincronizarSilab.php' >Sincronizar SILAB</a></li>
                            <li style="display: {menuVihSincronizarEpiInfo}"><a href='{urlprefix}vih/sincronizarEpiInfo.php' >Sincronizar EpiInfo</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuMat}"><a href='#' >Alerta temprana - MAT</a>
                        <ul>
                            <li style="display: {menuMatFormulario}"><a href='{urlprefix}mat/formulario.php' >Formulario</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuVacunas}"><a href='#' >PAI</a>
                        <ul>
                            <li style="display: {menuVacRegistroDiario}"><a href='{urlprefix}vacunas/listadoRegistroDiario.php' >Registro Diario</a></li>
                            <li style="display: {menuVacLdbi}"><a href='{urlprefix}LDBI/index.php' >LDBI</a></li>
                            <li style="display: {menuVacReportes}"><a href='{urlprefix}vacunas/reportes/reporteCobertura.php' >Reportes</a></li>
                            <li style="display: {menuVacDenominador}"><a href='{urlprefix}vacunas/listadoDenominadores.php' >Denominadores</a></li>
                            <li style="display: {menuVacCargarDeno}"><a href='{urlprefix}vacunas/CargarArchivo.php' >Cargar Denominadores</a></li>
                            <li style="display: {menuVacFormulario}"><a href='{urlprefix}vacunas/index.php' >Esc. Vacunas</a></li>
                            <li style="display: {menuVacNotificacion}"><a href='{urlprefix}pai/notificacion/alertas/' >Notificaciones</a></li>
                            <li style="display: {menuVacExportar}"><a href='{urlprefix}LDBI/datos.php' >Exportar/Importar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li style="display: {menuEspeciales}"><a href="#" style="width:100px;height:16px;line-height:16px;"><span>Inv. especial</span></a>
                <ul>
                    <li style="display: {menuSarampion}"><a href='#' >Sarampi&oacute;n y rub&eacute;ola</a></li>
                    <li style="display: {menuSinRubeola}"><a href='#' >S&iacute;ndrome de rub&eacute;ola cong&eacute;nita</a></li>
                    <li style="display: {menuParalisis}"><a href='#' >Par&aacute;lisis fl&aacute;cida aguada en menores de 15</a></li>
                    <li style="display: {menuTosferina}"><a href='#' >Tosferina / S&iacute;ndrome coqueluchoide</a></li>
                    <li style="display: {menuEVASIS}"><a href='#' >EVASIS</a></li>
                    <li style="display: {menuSifilis}"><a href='#' >S&iacute;filis cong&eacute;nita</a></li>
                    <li style="display: {menuMalformacion}"><a href='#'><span>Malformacion</span></a>
                        <ul>
                            <li style="display: {menuMalFormulario}"><a href='{urlprefixViejo}Malformacion/formulario.html' >Formulario</a></li>
                            <li style="display: {menuMalNacFormulario}"><a href='{urlprefixViejo}Malformacion/formulario_nacidos.html' >Formulario Nacidos</a></li>
                            <li style="display: {menuMalReportes}"><a href='{urlprefixViejo}Malformacion/reportes.html' >Reportes</a></li>
                        </ul>
                    </li>
                    <li style="display: {menuNoTrasmisibles}"><a href='#' >Enfermedades no trasmisibles</a></li>
                    <li style="display: {menuIntoxiaciones}"><a href='#' >Intoxicaciones agudas por plaguicidas</a></li>
                </ul>
            </li>
            <li style="display: {menuCatalogos}"><a href='#' title='Cat&aacute;logos' style="width:70px;height:16px;line-height:16px;"><span>Cat&aacute;logos</span></a>
                <ul>
                    
                    <li style="display: {menuCatAntecedenteVacunal}"><a href='{urlprefix}catalogos/antibiotico.php' >Antibioticos</a></li>
                    <li style="display: {menuCatAntecedenteVacunal}"><a href='{urlprefix}catalogos/antiviral.php' >Antivirales</a></li>
                    <li style="display: {menuCatCargo}"><a href='{urlprefixViejo}Catalogos/cargo.html' >Cargo</a></li>
                    <li style="display: {menuCatEnfermedadCronica}"><a href='{urlprefix}catalogos/enfermedadCronica.php' >Enfermedades cr&oacute;nicas</a></li>
                    <li style="display: {menuCatEventos}"><a href='{urlprefixViejo}ENO/eventos.html' >Eventos</a></li>
                    <li style="display: {menuCatExamenes}"><a href='{urlprefixViejo}Catalogos/examenes.html' >Ex&aacute;menes</a></li>
                    <li style="display: {menuCatGrupoEventos}"><a href='{urlprefixViejo}ENO/grupo_eventos.html' >Grupo eventos</a></li>
                    <li style="display: {menuCatUnidad}"><a href='{urlprefixViejo}Operaciones/instalaciones.html' >Instalaciones de salud</a></li>
                    <li style="display: {menuCatOcupacion}"><a href='{urlprefixViejo}Catalogos/ocupacion.html' >Ocupaci&oacute;n</a></li>
                    <li style="display: {menuCatMedicos}"><a href='{urlprefixViejo}Catalogos/personal_medico.html' >Personal m&eacute;dico</a></li>
                    <li style="display: {menuCatServicios}"><a href='{urlprefixViejo}Catalogos/servicios.html' >Servicios</a></li>
                    <li style="display: {menuCatServiciosRae}"><a href='{urlprefixViejo}Catalogos/servicios_rae.html' >Servicios RAE</a></li>
                    <li style="display: {menuCatSintomas}"><a href='{urlprefixViejo}Catalogos/sintomas.html' >Sintomas</a></li>
                    <li style="display: {menuCatTipoIdentidad}"><a href='{urlprefixViejo}Catalogos/tipo_identidad.html' >Tipo de idetinficaci&oacute;n</a></li>
                    <li style="display: {menuCatAntecedenteVacunal}"><a href='{urlprefix}catalogos/tipoMuestra.php' >Tipos de muestra</a></li>
                    <li style="display: {menuCatVacunas}"><a href='{urlprefix}catalogos/vacuna.php' >Vacunas</a></li>
                    <li style="display: {menuCatAntecedenteVacunal}"><a href='{urlprefix}catalogos/antecedenteVacunal.php' >Vac - Antecedentes</a></li>
                    <li style="display: {menuCatCondicion}"><a href='{urlprefix}catalogos/condicion.php' >Vac - Condiciones Escenario</a></li>
                    <li style="display: {menuCatGrupoEsp}"><a href='{urlprefix}catalogos/vacGrupoEspecial.php' >Vac - Grupos Especiales</a></li>
                    <li style="display: {menuCatModalidades}"><a href='{urlprefix}catalogos/modalidad.php' >Vac - Modalidades</a></li>
                    <li style="display: {menuCatTipoMuestras}"><a href='{urlprefixViejo}Catalogos/tipo_muestras.html' >Vac - Tipo de muestras</a></li>
                    <li style="display: {menuCatTipoMuestras}"><a href='{urlprefix}catalogos/ldbiproveedor.php' >LDBI - Proveedores</a></li>
                    <li style="display: {menuCatTipoMuestras}"><a href='{urlprefix}catalogos/ldbibodega.php' >LDBI - Bodegas</a></li>
                    <li style="display: {menuCatTipoMuestras}"><a href='{urlprefix}catalogos/ldbiinsumo.php' >LDBI - Insumos</a></li>
                </ul>
            </li>
            <li style="display: {menuAyuda} "><a href='#' title='Ayuda' style="width:70px;height:16px;line-height:16px;"><span>Ayuda</span></a>
                <ul>
                    <li><a href='{urlprefixViejo}Manual_usuario.htm' target='_blank' onClick="window.open(this.href, this.target, 'width=750,height=400'); return false;">Manual en l&iacute;nea</a></li>
                    <li><a href='{urlprefixViejo}descargar_manual.php' >Descargar Manual en PDF</a></li>
                    <li><a href='#' >Acerca de SISVIG</a></li>
                </ul>
            </li>
            <li style="display: {menuSalir}"><a href='{urlprefix}login.php?logout=true' title='Salir' style="width:70px;height:16px;line-height:16px;"><span>Salir</span></a></li>
        </ul>

<p style="display:none"><a href="http://css3menu.com/">CSS Button Font Size Css3Menu.com</a></p>
<!-- End css3menu.com BODY section -->

</div>
<div class='nombreUsuario'>
    <p>
        {usuarioConectado}
    </p>
</div>