<!-- BEGIN pagineo_block -->
        <table border="0">
            <tbody>
            <tr>
                <!-- BEGIN first_block -->
                <td>
                	<a href="{urlsite}{prinurl}{first}{extrasurl}" onmouseout="RollOut(this)" onmouseover="RollOver(this)" 
                		class="ui-state-default ui-corner-all ui-link-button" title="Primera">
                        <span class="ui-icon ui-icon-circle-triangle-w"></span>                    
                    </a>                
                </td>
                <!-- END first_block -->
                <!-- BEGIN prev_block -->
                <td>
                	<a href="{urlsite}{prinurl}{prev}{extrasurl}" onmouseout="RollOut(this)" onmouseover="RollOver(this)" 
                		class="ui-state-default ui-corner-all ui-link-button" title="Anterior">
                        <span class="ui-icon ui-icon-circle-arrow-w"></span>
                    </a>    
                </td>
                <!-- END prev_block -->
                <!-- BEGIN current_page_block -->
                <td>
                    <span class="ui-state-default ui-corner-all ui-link-button current-page">&nbsp;{page}&nbsp;</span>
                </td>
                <!-- END current_page_block -->
                <!-- BEGIN page_block -->
                <td>
                    <a href="{urlsite}{prinurl}{page_link}{extrasurl}" onmouseout="RollOut(this)" onmouseover="RollOver(this)" 
                		class="ui-state-default ui-corner-all ui-link-button no-current-page" title="">
                        &nbsp;{page}&nbsp;
                    </a>
                </td>
                <!-- END page_block -->
                <!-- BEGIN next_block -->
                <td>
                	<a href="{urlsite}{prinurl}{next}{extrasurl}" onmouseout="RollOut(this)" onmouseover="RollOver(this)" 
                		class="ui-state-default ui-corner-all ui-link-button" title="Siguiente">
                        <span class="ui-icon ui-icon-circle-arrow-e"></span>
                    </a>
                </td>
                <!-- END next_block -->
                <!-- BEGIN last_block -->
                <td>
                	<a href="{urlsite}{prinurl}{last}{extrasurl}" onmouseout="RollOut(this)" onmouseover="RollOver(this)" 
                           class="ui-state-default ui-corner-all ui-link-button" title="&Uacute;ltima">
                        <span class="ui-icon ui-icon-circle-triangle-e"></span>
                    </a>
                </td>
                <!-- END last_block -->
            </tr>
            </tbody>
        </table>
<!-- END pagineo_block -->